<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de disciplinas</title>
</head>

<body>
    <a href="/cadastrar_disciplina">Cadastrar disciplina</a><br/>
    <table>
        <thead>
            <th>Nome</th>
            <th>Carga horária</th>
            <th>Ementa</th>
        </thead>
        <tbody id="corpoTabelaDisciplinas"></tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $.ajax({
                url: 'http://127.0.0.1:5000/listar_disciplinas_json',
                method: 'GET',
                dataType: 'json',
                success: (disciplinas) => {
                    for (var i = 0; i < disciplinas.length; i++) {
                        $('#corpoTabelaDisciplinas')
                            .append(`<tr>
                                        <td>${disciplinas[i].nome}</td>
                                        <td>${disciplinas[i].carga_horaria}</td>
                                        <td>${disciplinas[i].ementa}</td>
                                    </tr>`);
                    }
                },
                error: () => {
                    alert("erro!")
                }
            });
        });
    </script>
</body>
</html>